# general stuff 
.vscode/
.dist
*/.dist
a.out
*/a.out
*/*/a.out
*/*/objs
*/*/*/objs
*/*/*.txt
*/*subject.pdf

# the executables of the exercises:
*/*/megaphone
*/*/phone_book
*/*/recover_lost_file
*/*/zombies
*/*/zombies_horde
*/*/refs_and_pointers
*/*/unnecessary_violence
*/*/replace
*/*/Harl
*/*/harlFilter
*/*/fixed
*/*/fixed_upgraded
*/*/fixed_upgrade_plus
*/*/bsp
*/*/clap_trap
*/*/scav_trap
*/*/frag_trap
*/*/diamond_trap
*/*/dogs_vs_cats
*/*/pets_with_brains
*/*/abstract_AAnimal
*/*/interface
*/*/bureaucrat
*/*/forms
*/*/crazy_forms
*/*/interns_are_here
*/*/convert
*/*/serializer
*/*/identify
*/*/swap_min_max
*/*/iter

# files created from the exercises:
*/*/Home_shrubbery
*/*/Rose_shrubbery

# additional files i have locally
canonical_format/
cpp05/ex00/main_before.cpp
git_history.txt
test.cpp