.vscode/
.dist
*/.dist
test.cpp
a.out
*/a.out
*/*/a.out
*/*/objs
*/*/megaphone
*/*/*/objs
*/*/*.txt

# the executables of the exercises:
*/*/bureaucrat


canonical_format/
cpp05/ex00/main_before.cpp
git_history.txt