.vscode/
.dist
*/.dist
a.out
*/a.out
*/*/a.out
*/*/objs
*/*/*/objs
*/*/*.txt
*/*subject.pdf

# the executables of the exercises:
*/*/megaphone
*/*/bureaucrat
*/*/forms
*/*/actual_forms
*/*/interns_are_here

# files created from the exercises:
*/*/Home_shrubbery
*/*/Rose_shrubbery

# additional files i have locally
canonical_format/
cpp05/ex00/main_before.cpp
git_history.txt
test.cpp